.section {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 0px 10px;
    margin-bottom: 30px;

    &__container {
        width: 100%;
        max-width: 510px;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: left;
        
        background-color: var(--quarternary);
        border: 2px solid var(--tertiary); 
        border-radius: 5px;
    }

    &__btn {
        border-right: 2px solid var(--tertiary);
    }

    &__iconDiv {
        width: 100%;
        height: auto;

        display: flex;
        background: none;
        border: none;
    }

    &__icon {
        width: 30px;
        height: 30px;

        color: var(--textSecondary);
        margin: 10px;
        cursor: pointer;
    }

    &__iconActive {
        color: var(--red);
    }

    &__form {
        width: 100%;
        height: auto;
    }

    &__input {
        width: 100%;
        height: auto;

        padding: 0 10px;
        border: none;
        outline: none;
        background: none;

        &[value] {
            color: var(--textPrimary);
            font-size: 1.125rem;
        }

        &::placeholder {
            color: var(--textSecondary);
            font-size: 1.125rem;
        }
    }

    &__infos {
        width: 100%;
        max-width: 510px;
        height: auto;

        display: flex;
        justify-content: space-between;
    }

    &__clean {
        background-color: var(--red);
        border: 1px solid var(--tertiary);
        border-radius: 5px;
        padding: 7px;
        cursor: pointer;
        
        color: var(--textPrimary);
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__remaining {
        color: var(--textPrimary);
        font-size: 0.875rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 530px) {
    .section {
        margin-bottom: 20px;

        &__icon {
            width: 22px;
            height: 22px;
        }

        &__input {
            &[value], &::placeholder {
                font-size: 0.875rem;
            }
        }
    }
}