.header {
    width: 100%;
    height: auto;

    border-bottom: 3px solid var(--tertiary);
    padding: 0px 10px;

    &__nav {
        width: 100%;
        height: auto;
        margin: 10px auto;
    }

    &__ul {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 50px;
        list-style: none;
    }
}

@media screen and (max-width: 530px) {
    .header {

    }
}